// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap";

  
.vue-pdf-embed > div {
margin-bottom: 8px;
box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.pdf-header {
padding: 16px;
box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
background-color: #555;
color: #ddd;
}

.pdf-content {
padding: 24px 16px;
}

.right {
float: right;
}