// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap";

.pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    padding: 1em;
    margin: 1em;
    border: 1px solid gray;
}